div.todo{
  width: 100%;
  border: 2px black solid;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(238,255,238);
}
div.todo .todotitle{
  display:block;
  text-align:left;
  padding-left:5px;
  padding-top:5px;
  background-color: rgb(191,247,195);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid black;
}
div.todo p{
  text-align:left;
  margin: 0px;
  margin-left:15px;
  margin-top:10px;
}
div.selonvous{
  width: 100%;
  border: 2px black solid;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(251,249,227);
}
div.selonvous .selonvoustitle{
  display:block;
  text-align:left;
  padding-left:5px;
  padding-top:5px;
  background-color: rgb(255,250,185);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid black;
}
div.selonvous p{
  text-align:left;
  margin: 0px;
  margin-left:15px;
  margin-top:10px;
}
div.definition{
  width: 100%;
  border: 2px black solid;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(250,255,255);
}
div.definition .definitiontitle{
  display:block;
  text-align:left;
  padding-left:5px;
  padding-top:5px;
  background-color: rgb(196,234,241);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid black;
}
div.definition p{
  text-align:left;
  margin: 0px;
  margin-left:15px;
  margin-top:10px;
}
